html {
  height: 100%;
}
body {
  /* background:linear-gradient(120deg, rgba(20, 50, 100, 0.5)0% ,rgba(211, 119, 33, 0.8)50%, rgba(100, 50, 100, 0.7)100%); */
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.main {
  background: #e5e9df;
}
p {
  font-size: 18px;
  letter-spacing: 1.4px;
  line-height: 30px;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-basis {
  flex-basis: 50%;
}
.auto {
  margin: auto;
}
.text-center {
  text-align: center;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.space-evenly {
  display: flex;
  justify-content: space-evenly;
}
.container {
  width: 70%;
  margin: auto;
}
.container-fluid {
  width: 85%;
  margin: auto;
}
.margin-auto {
  margin: auto;
}
.align-center {
  align-items: center;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #3c403d;
  font-size: 18px;
}
/*home page*/
.heading {
  height: 80px;
}
.menu-top li {
  margin: auto 10px;
}
#title-home {
  letter-spacing: 15px;
  font-size: 60px;
  color: #3c403d;
}
/* #quotes-container div img {
  width: 100%;
} */
#quotes-container {
  font-size: 22px;
  min-height: 100vh;
}
#quotes {
  font-weight: normal;
  font-size: 22px;
}
#getstarted {
  background-color: #39603d;
  color: white;
  padding: 10px 15px;
  font-size: 22px;
  outline: none;
  border-radius: 10px;
  border-color: transparent;
}

/*terms page */

/*header*/

#get-started-page {
  display: none;
  background: #e5e9df;
  height: 100vh;
}
.get-started-page-header {
  background-color: #e5e9df;
  width: 100%;
}
#ul li {
  list-style-type: none;
  font-size: 20px;
  padding: 5px;
  border: 2px solid #39603d;
  border-radius: 5px;
  margin: 2px;
  color: #3c403d;
}
.app-name {
  color: #39603d;
}
#ai-terms-container,
#web-terms-container,
#network-terms-container {
  display: none;
  width: 100%;
  margin: auto;
}
.terms,
.listquestions {
  background-color: #39603d;
  font-size: 20px;
  margin: auto;
  padding: 5px;
  margin-top: 15px;
  text-align: center;
  width: 90%;
  border-radius: 10px;
  color: #fff;
}
#show-case {
  margin: auto;
  width: 80%;
  font-size: 20px;
}
.fa-close {
  font-size: 30px;
  float: right;
}
#test-class {
  display: none;
}

#display-api {
  display: flex;
  flex-direction: row;
}
.container {
  color: white;
  display: flex;
  flex-direction: column;
}
.card {
  border: 5px solid #ffffff;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
}
.headtitle {
  background: rgb(90, 81, 81);
  padding: 0;
  margin: 0;
  border-radius: 25px 25px 0px 0px;
}
.para {
  justify-items: left;
}
#ai-terms-container,
#network-terms-container,
.answers {
  animation: slide;
  animation-duration: 0.8s;
}
#web-terms-container {
  animation: slide2;
  animation-duration: 0.8s;
}
.listquestions,
.faqanswers {
  animation: slide3;
  animation-duration: 0.8s;
}
@keyframes slide {
  0% {
    transform: translatex(-100px);
  }
}
@keyframes slide2 {
  0% {
    transform: translatex(100px);
  }
}
@keyframes slide3 {
  0% {
    transform: translatey(100px);
  }
}

#nav-head {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 4px 0px rgba(18, 79, 170, 0.25);
  padding: 10px;
}
#home-link {
  width: 90%;
}
#home-link a {
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
}
#about-link i {
  color: #ffffff;
  font-size: 24px;
}

#faq {
  text-align: right;
  padding: 20px;
}
.fa-question-circle {
  color: rgb(206, 96, 56);
  font-size: 40px;
  padding: 10px;
}
/* faq container */

.faq-sects {
  background-color: rgb(59, 38, 31, 0.8);
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 10px;
}

#answer-1 {
  background-color: rgb(37, 196, 196);
  display: none;
}

.fa-desktop {
  font-size: 100px;
  color: rgb(182, 170, 170);
  margin-top: 30%;
}
#faq-container {
  background-color: white;
  margin: auto;
  padding: 10px;
  width: 90%;
  display: none;
}
#about-page {
  background: linear-gradient(
    120deg,
    rgba(198, 218, 85, 0.5) 0%,
    rgba(160, 119, 80, 0.8) 20%,
    rgba(100, 50, 100, 0.7) 50%,
    rgba(2, 100, 5, 0.7) 80%,
    rgba(55, 99, 30, 0.6) 100%
  );
  display: none;
  padding: 10px;
  color: white;
  font-size: 20px;
}
