body{
    background-color:#062863; align-items: center;  margin: 0;
}
.root-container{
    height:100vh; overflow-y:auto; display:flex; flex-direction: column;
    align-items: center; margin:0; padding:0% 10%;
}
.piggy-logo{
   color:white; text-align:center; margin:40px 0px;
}
.form-container{
    display:flex; flex-direction: column; color:#4a5568;
    background-color: #ffffff; padding:30px 30px 10px 30px;
    border-radius: 20px 20px 20px 0px; 
}
.header{text-align:center; margin-bottom:20px;}
.header h1{color: #083e9e; margin:0px 0px -10px 0px; font-size: 1.5rem; font-family: U8,sans-serif;}
.header p{color:#4a5568; font-size: .905rem; font-family: Karla,sans-serif;}

.form{margin:auto; width:100%;}
form{display:flex; flex-direction: column;}
form div label{font-size: 12px; font-weight: bold;}
form div input{
    background-color: rgb(226, 229, 229); border-radius: 5px;
    padding:20px; font-size: 15px; margin:5px 0 30px 0; width:85%;
    outline:none; border-color: transparent; cursor: default;
}   
select{
    background-color: rgb(226, 229, 229); border-radius: 5px; padding:20px;font-size: 15px;width:100%;
    outline:none; border-color: transparent;color:#4a5568;
}
#submit{background-color:#063c99; color:#ffffff; font-size:16px; padding:25px;
    border-radius: 10px 10px 10px 0px; outline:none; border-color: transparent;
    width:100%; margin:40px 0px 30px 0px;
}
.login, .login a{color:#ffffff;}
.login a{text-decoration: none; }

@media screen and (max-width:400px){
    form div input{
        width:80%;
    }
}
